
.articles{
    &__ttl{
        display: flex;
        align-items: flex-end;
        color: $CR;
        font-weight: normal;
        margin: 0 0 26px;
        &--en{
            font-size: 40px;
            font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'Noto Serif JP', serif !important;
            display: inline-block;
            margin: 0 14px 0 0;
        }
        &--jp{
            font-size: 18px;
            display: inline-block;
            padding-bottom: 4px;
        }
    }
    &__list{
        display: block;
        &--link{
            display: flex;
            align-items: start;
            text-decoration: none;
        }
        &--img{
            display: inline-block;
            width: 135px;
            height: 90px;
            flex: 1;
            min-width: 135px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        li{
            &:first-child{
                .articles__list--img{
                    width: 200px;
                    min-width: 200px;
                    height: 136px;
                }
            }
        }

    }
    &__link{
        display: block;
        text-align: center;
        color: $CR;
        margin-top: 50px;
    }
}


@media screen and (max-width: $BP){
    .articles{
        &__ttl{
            margin: 0 0 26px;
            &--en{
                font-size: 27px;
                margin: 0 6px 0 0;
            }
            &--jp{
                font-size: 11px;
            }
        }
        &__list{
            display: flex;
            li{
                display: block;
                &:first-child{
                    
                }
            }
        }
        &__link{
            font-size: 14px;    
            margin-top: 20px;
        }
    }
    
}