body.home {
  #newHeader__cate {
    .homeTtl {
      display: none !important;

      a {
        color: $PINK;
      }
    }
  }
}

body.horoscope,
body.aries,
body.taurus,
body.gemini,
body.cancer,
body.leo,
body.virgo,
body.libra,
body.scorpio,
body.sagittarius,
body.capricorn,
body.aquarius,
body.pisces {
  #newHeader__cate {
    .ttlLuna {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-pms {
  #newHeader__cate {
    .ttlPms {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-femtech {
  #newHeader__cate {
    .ttlFem {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-news {
  #newHeader__cate {
    .ttlNews {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-mens {
  #newHeader__cate {
    .ttlMens {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-well {
  #newHeader__cate {
    .ttlSexw {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-beauty {
  #newHeader__cate {
    .ttlBeauty {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-serial {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-resarch {
  #newHeader__cate {
    .ttlResearch {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-kokoro {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-aoki {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.category-personf {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-pms {
  #newHeader__cate {
    .ttlPms {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-femtech {
  #newHeader__cate {
    .ttlFem {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-news {
  #newHeader__cate {
    .ttlNews {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-mens {
  #newHeader__cate {
    .ttlMens {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-well {
  #newHeader__cate {
    .ttlSexw {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-beauty {
  #newHeader__cate {
    .ttlBeauty {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-serial {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-kokoro {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-aoki {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-personf {
  #newHeader__cate {
    .ttlSerial {
      a {
        color: $PINK;
      }
    }
  }
}

body.page-resarch {
  #newHeader__cate {
    .ttlResearch {
      a {
        color: $PINK;
      }
    }
  }
}

/* ヘッダー --------------------------------------------------------------- */
.newHeader {
  &__inner {}

  &__logo {
    text-align: center;
    position: relative;
    padding: 52px 0 14px;

    a {
      background: url("images/logo.png") no-repeat;
      display: inline-block;
      background-size: 100% auto;
      width: calc(540px / 2);
      height: calc(84px / 2);
      white-space: nowrap;
      text-indent: -9999px;
    }
  }

  &__cate {
    &--wrapper {
      margin: 0 0 0 24px;
    }
  }

  &__wrapper {
    background: #fff;
    width: 100%;
  }

  &__contents {
    display: flex;
    align-items: center;
    align-items: bottom;
    justify-content: space-between;
    position: relative;
    max-width: $PC_W;
    margin: 0 auto;

    &--right {
      display: flex;
      align-items: center;
    }
  }
}

#newHeader__cate {
  .menu {
    font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
      "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Noto Serif JP",
      serif !important;
    color: $PINK;
    display: flex;

    li {
      list-style: none;
      font-size: 16px;
      margin: 0 32px 0 0;
      padding: 0 !important;
    }

    a {
      padding: $PC_BS 0;
      display: inline-block;
      text-decoration: none;
      color: #444444;
      white-space: nowrap;

      &:hover {
        color: $PINK;
        opacity: 1;
      }
    }
  }
}

#js-newHeader {
  position: relative;

  &.fixed {
    position: fixed;
    top: 0;
    border-bottom: solid 1px $UB;
    width: 100%;
    z-index: 2;
  }
}

// ドロワーメニュー ----------------------------------------------------------------

.drawer--left .drawer-nav {
  box-sizing: border-box;
}

.drawer-overlay {
  z-index: 4 !important;
}

.drawer-nav {
  z-index: 5 !important;
  background: #f3e8f4;
}

.drawer-menu {
  display: block;
  overflow: hidden;
  text-align: center;

  li {
    width: 100%;
    padding: 0;

    a {
      padding: 10px 0;
      display: block;
      text-decoration: none;
      color: #444;
      font-size: 20px;
      font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
        "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Noto Serif JP",
        serif !important;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.hamburger {
  width: 16px;
  height: 16px;
}

.newHeader {
  &__contents {
    z-index: 1;
  }

  &__drawer {
    &--inner {
      padding: 138px $PC_BB $PC_BB;
      overflow: hidden;
      background: #f3e8f4;
    }

    &--sns {
      padding: 46px 0 85px;
      display: flex;
      justify-content: center;

      li {
        margin-right: 0;
        width: 28px;

        &:nth-child(2n) {
          margin: 0 26px;
        }
      }

      a {
        display: block;
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        white-space: nowrap;
      }
    }

    &--snsfb {
      background: url("images/icon_fb.png") no-repeat;
      background-size: 100% auto;
    }

    &--snstk {
      background: url("images/icon_tiktok.png") no-repeat;
      background-size: 100% auto;
    }

    &--snstw {
      background: url("images/icon_tw.png") no-repeat;
      background-size: 100% auto;
    }

    &--snsin {
      background: url("images/icon_insta.png") no-repeat;
      background-size: 100% auto;
    }

    &--about {
      font-size: 15px;
      line-height: 1.8;
      border-top: solid 1px #000;
      border-bottom: solid 1px #000;
      padding: 55px 0;
      text-align: center;

      .logo {
        background: url("images/logo.png") no-repeat;
        background-size: 100% auto;
        width: 157px;
        display: inline-block;
        height: 25px;
        font-size: 0;
        line-height: 0;
        margin: 0 auto 8px;
        text-align: center;
      }

      p {
        text-align-last: left;
      }
    }

    &--doctor {
      border-bottom: solid 1px #000;
      padding: 55px 0;

      &-ttl {
        white-space: nowrap;
        text-indent: -9999px;
        background: url("images/menu_ttl_doctor.png") no-repeat;
        background-size: 100% auto;
        display: block;
        width: 104px;
        height: 22px;
        text-align: center;
        margin: 0 auto 20px;
      }

      &-intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 32px;
      }

      &-introimg {
        white-space: nowrap;
        text-indent: -9999px;
        background: url("images/img_profile_doctor.png") no-repeat;
        background-size: 100% auto;
        display: block;
        width: 120px;
        height: 120px;
        text-align: center;
      }

      &-name {
        font-size: 18px;
      }

      &-resume {
        margin: 0 0 55px;

        p {
          font-size: 15px;
          text-indent: -1em;
          padding-left: 1em;
          margin: 0 0 10px;
          line-height: 1.4;
        }
      }

      &-txt {
        font-size: 15px;
        line-height: 1.8;
      }
    }

    &--otherlink {
      overflow: hidden;
      margin: 55px 0 0;

      li {
        width: 50%;
        float: left;

        &:nth-child(2n) {
          margin-bottom: 20px;
        }

        &:first-child {
          margin-bottom: 20px;
        }

        a {
          font-size: 15px;
          text-decoration: none;
          color: #000;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

$drawWP: calc($PC_BB * 9);

.drawer-hamburger {
  position: relative;
  width: 16px;
  padding: 24px;
}

.drawer-open {
  .drawer-nav {
    width: $drawWP;
  }

  .drawer-hamburger {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 24px;
  }

  .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
    width: 100%;
  }

  .hamburger__line--2 {
    width: 0;
    left: 50%;
  }

  .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
    width: 100%;
  }

  .hamburger {
    width: 32px;
    height: 32px;
  }

  .hamburger__line {
    height: 3px !important;
  }

  #navopen {
    display: block;
  }

  #navclose {
    display: none;
  }
}

.drawer-close {
  .drawer-hamburger {
    position: relative;
    width: 16px;
    padding: 24px;
  }

  .drawer--left {
    left: -$drawWP;
  }

  .drawer-nav {
    width: -$drawWP;
  }

  .hamburger {
    display: block;
    width: 16px;
    height: 17px;
    position: relative;
  }

  .hamburger__line {
    height: 1px;
  }

  #navopen {
    display: none;
  }

  #navclose {
    display: block;
  }
}

//ハンバーガーメニュー
.hamburger__line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #3e3a39;
  transition: all 0.6s;
  height: 1px;
  border-radius: 3px;
}

.hamburger__line--1 {
  top: 0;
}

.hamburger__line--2 {
  top: 8px;
}

.hamburger__line--3 {
  bottom: 0;
}

/* 表示された時用のCSS */

@media screen and (max-width: $BP) {
  .adjpadding {
    padding-top: 100px;
  }

  /* ヘッダー --------------------------------------------------------------- */
  .newHeader {
    &__spnav {
      padding: 10px 18px 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-y: hidden;

      &--search {
        background: url("images/spicon_search.png") no-repeat;
        background-size: 100% auto;
        text-indent: -9999px;
        white-space: nowrap;
        width: 25px;
        height: 25px;
        display: inline-block;
      }

      &--btn {
        position: relative;
        width: 22px;
        height: 22px;
      }
    }

    &__inner {
      position: relative;
    }

    &__logo {
      padding: 0;
      display: inline-block;

      a {
        display: inline-block;
        background-size: 100% auto;
        width: 133px;
        height: 21px;
      }
    }

    &__cate {
      &--wrapper {
        margin: 0;
      }
    }

    &__wrapper {
      width: 100%;
    }

    &__search {
      display: none;
    }

    &__contents {
      max-width: auto;

      &--right {
        align-items: center;
      }
    }
  }

  .newHeader {
    &__drawer {
      &--inner {
        position: relative;
        overflow-y: scroll !important;
        padding: $PC_BB 17px 17px;
      }

      &--sns {
        padding: 8px 8px 36px;

        li {
          width: 26px;
        }

        a {
          width: 26px;
          height: 26px;
        }
      }

      &--about {
        line-height: 1.8;
        padding: $PC_BS 8px;

        .logo {
          width: 157px;
          display: inline-block;
          height: 25px;
          font-size: 0;
          line-height: 0;
          margin: 0 0 8px;
        }

        p {
          font-size: 12px;
        }
      }

      &--doctor {
        border-bottom: solid 1px #000;
        padding: 24px 8px;

        &-ttl {
          width: 74px;
          height: 16px;
          margin: 0 auto 18px;
        }

        &-intro {
          justify-content: center;
          margin: 0 0 32px;
        }

        &-introimg {
          width: 85px;
          height: 85px;
          margin: 0 18px 0 0;
        }

        &-name {
          font-size: 14px;
        }

        &-resume {
          margin: 0 0 24px;

          p {
            font-size: 12px;
            margin: 0 0 7px;
            line-height: 1.4;
          }
        }

        &-txt {
          font-size: 12px;
          line-height: 1.8;
        }
      }

      &--otherlink {
        margin: 0;
        padding: 25px 8px 0;

        li {
          width: 50%;

          &:nth-child(2n) {
            margin-bottom: 15px;
          }

          &:first-child {
            margin-bottom: 15px;
          }

          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  #newHeader__cate {
    .menu {
      li {
        list-style: none;
        font-size: 13px;
        margin: 0 22px 0 0;
      }

      a {
        padding: 12px 0;
        white-space: nowrap;
      }
    }
  }

  .newHeader__wrapper {
    overflow-x: scroll;
    padding: 0 20px 0;
    //   -ms-overflow-style: none;
    //   scrollbar-width: none;
    //   &::-webkit-scrollbar {
    //     display:none;
    // }
    // scrollbar-color: transparent transparent;
    // scrollbar-width: 0px;
    // scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {}

    &::-webkit-scrollbar-track {
      background: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background: $PINK;
      border-radius: 5px;
    }
  }

  // ドロワーメニュー

  .drawer-menu {
    padding: 8px !important;

    li {
      width: 100%;
      display: block;
      padding: 0;

      a {
        padding: 14px 0;
        font-size: 20px;
      }
    }
  }

  .drawer-hamburger {
    padding: 0 !important;
  }

  #navopen {
    display: block;
  }

  #navclose {
    display: none !important;
  }

  $drawSp: 100vw;

  .drawer-open {
    .drawer-nav {
      width: $drawSp !important;
    }


    #navSpclose {
      display: none;
    }
  }

  .drawer-close {
    // .drawer-nav {
    //   width: $drawSp !important;
    //   left: -$drawSp !important;
    // }

    .drawer-hamburger {
      padding: 0 !important;
      display: none;
    }

    #navSpclose {
      display: block;
    }
  }

  #header {
    .newHeader__inner {
      background: #fff;

      border-bottom: solid 1px $UB;
    }
  }

  .spNav {
    width: 100%;
    overflow: hidden;
    z-index: 3;
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    border-bottom: solid 1px $UB;
    background: #fff;
  }

  .newHeader__spnav {}
}

/* PC 画面サイズが750px以上 */
@media screen and (min-width: $BP+1) {
  .newHeader {
    &__pcbtn {
      background: url("images/spicon_search.png") no-repeat;
      background-size: 25px 25px;
      background-position: center;
      text-indent: -9999px;
      white-space: nowrap;
      width: 25px;
      height: 25px;
      display: inline-block;
      border: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      padding: 20px;

      &:hover {
        opacity: 0.7;
      }
    }

    &__search {
      padding: 50px;

      &--blc {
        z-index: 0;
        position: absolute;
        top: -300px;
        right: 0;
        background: #fff;
        border: solid 1px #d0d0d0;
        border-top: none;
        transition: 0.5s ease;
        box-shadow: 5px 5px 5px 0px rgba(70, 70, 75, 0.2);
        animation-duration: 1.2s;
        animation-name: fadeOut;

        &.active {
          top: 64px;
          transition: 0.5s ease;
          animation-duration: 1.2s;
          animation-name: fadeIn;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.drawer-nav {
  overflow: auto;
}

.menu {
  .homeTtl {
    display: none !important;
  }
}

// 追記ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
/* ヘッダー --------------------------------------------------------------- */


#newHeader__cate {
  .menu {
    justify-content: space-between;
    width: 100%;
  }
}

.newHeader {
  &__logo {
    transition: ease 0.3s all;

    a {
      transition: ease 0.3s all;
    }

    &--wrapper {
      display: flex;
      align-items: center;

    }

    &.stac {
      transition: ease 0.3s all;
      padding: 24px 0 0;

      a {
        transition: ease 0.3s all;
        width: calc(540px / 4);
        height: calc(84px / 4);
      }

      @media screen and (max-width: $BP) {
        padding-top: 0;
      }

    }
  }

  &__htop {
    width: 100%;
    max-width: $BP_PC;
    margin: 0 auto;
    position: relative;

    .newHeader__pcbtn, .newHeader__spnav--search {
      width: 22px;
      height: 22px;
      background-size: 100% auto;
      padding: 0;
      margin: 0 10px;
    }

    &--sns {
      padding: 0;
      display: flex;
      overflow: visible;
      justify-content: center;
      align-items: center;

      li {
        margin-right: 0;
        width: 22px;

        &:nth-child(2n) {
          margin: 0 10px;
        }
      }

      a {
        display: block;
        width: 22;
        height: 22px;
        text-indent: -9999px;
        white-space: nowrap;
      }
    }

    &--rblcwrapper {
      position: absolute;
      right: 0;
      top: 0;
    }

    &--rblc {
      display: flex;
      overflow: visible;
      justify-content: center;
      align-items: center;
    }
  }
  &__spnav{
    @media screen and (max-width: $BP) {
      padding: 20px 5% 6px;
    }
  }
}

.spNav {
  width: 100%;
  z-index: 3;
  transform: translate3d(0, 0, 0);
  position: relative;
  background: #fff;

  .newHeader__htop--rblcwrapper {
    padding: 64px 0 0;
    transition: ease 0.3s all;

    @media screen and (max-width: $BP) {
      padding-top: 0;
    }

  }

  &.fixed {
    position: fixed;
    top: 0;
    border-bottom: solid 1px $UB;
    width: 100%;
    z-index: 2;

    .newHeader__htop--rblcwrapper {
      padding: 25px 0 0;
      transition: ease 0.3s all;
      @media screen and (max-width: $BP) {
        padding-top: 0;
      }

      .newHeader__htop--sns {
        a {
          width: 21px;
          width: 21px;
          transition: ease 0.3s all;
        }
      }

      .newHeader__pcbtn, .newHeader__spnav--search {
        width: 21px;
        width: 21px;
        transition: ease 0.3s all;
      }
    }

    #newHeader__cate {
      .menu {
        a {
          padding: 10px 0;
        }
      }
    }

    .newHeader__contents {
      margin-top: 10px;
      @media screen and (max-width: $BP) {
        margin-top: 0;
      }
    }
  }
}

.newHeader__search--blc {
  transition: 0.5s ease;
  animation-duration: 1.2s;
  animation-name: fadeIn;

  .newHeader__search {
    padding: 20px 30px;
  }

  &.active {
    transition: 0.5s ease;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    top: 0;
  }

  @media screen and (max-width: $BP) {}

}

.snsInsta {
  background: url("images/icon_insta.png") no-repeat;
  background-size: 100% auto;
}

.snsTiktok {
  background: url("images/icon_tiktok.png") no-repeat;
  background-size: 100% auto;
}

.snsFb {
  background: url("images/icon_fb.png") no-repeat;
  background-size: 100% auto;
}

.snsTwitter {
  background: url("images/icon_tw.png") no-repeat;
  background-size: 100% auto;
}

