/* Page.php --------------------------------------------------------------- */
#page {
  margin-bottom: 80px;
}

//会社概要などの記事
.privacy,
.company-information {
  .contents-wrapper {
    display: block;
  }
}
#infoPage {
  margin: 30px 0;
  .page__fv {
    margin: 0 0 50px;
  }
  //メディア関係者の皆様へ
  .infoPage-ad {
    p {
      font-size: 17px;
      line-height: 1.4;
      margin: 0 0 24px;
    }
  }
  //お問い合わせ
  .infoPage-contact {
    p {
      line-height: 1.4;
    }
  }
  //プライバシーポリシー
  .infoPage-privacy {
    p {
      font-size: 17px;
      line-height: 2;
      margin: 0 0 24px;
    }
  }
  //会社概要『
  .infoPage-company {
    p {
      font-size: 17px;
      line-height: 2;
      margin: 0 0 24px;
    }
  }
  .wpcf7-form {
    width: 100%;
    label {
      br {
        display: none;
      }
    }
    p {
      display: block;
      margin: 0 0 35px;
      width: 100%;
    }
    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 9px 15px;
      font-size: 18px;
      outline: none;
      border-radius: 7px;
      border: solid 1px #404040;
      &:focus {
        border: solid 2px $PINK;
        padding: 8px 14px;
      }
    }
    .wpcf7-submit {
      width: 40%;
      padding: 10px 20px;
      background: #fff;
      border-radius: 7px;
      outline: none;
      border: solid 1px #404040;
      font-size: 16px;
      letter-spacing: 0.1em;
      &:hover {
        background: $PINK;
        color: #fff;
        border: solid 1px $PINK;
      }
    }
    textarea {
      width: 100%;
      padding: 9px 15px;
      font-size: 18px;
      outline: none;
      border-radius: 7px;
      border: solid 1px #404040;
      &:focus {
        border: solid 2px $PINK;
        padding: 8px 14px;
      }
    }
    span {
      display: block;
      width: 100%;
    }
  }
}

// ランキング記事
#rankingall {
  //サイド用の抜粋部分
  .sideConlist__exc {
    display: none;
  }
  //ランキングイメージ部分
  .sideConlist__img {
    &::after {
      display: none;
    }
  }
  .articles__ttl {
    margin-top: 0;
  }
  .sideConlist {
    li {
      margin: 0 0 20px;
    }
    &__inner {
      align-items: center;
    }
    &__img {
      width: 200px;
      height: 133px;
      img {
        width: 200px;
        height: 133px;
        object-fit: cover;
        margin: 0;
      }
    }
    .cat-data {
      color: #fff;
      font-size: $SP_FONT;
      margin: 0 6px 0 0;
      padding: 5px 8px 4px;
      display: inline-block;
      line-height: 1;
    }
    &__authors {
      &--date {
        font-size: 15px;
        color: $GRAY;
        margin: 0 12px 0 0;
        display: inline-block;
      }
      &--name {
        color: $GRAY;
        font-size: 13px;
        display: inline-block;
      }
      &.pageblc {
        display: block;
      }
      &.sideblc {
        display: none;
      }
    }
    &__blc {
      flex: 1;
      &.pageblc {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .categoryw {
      display: block;
      display: inline-block;
    }
  }
  .page_excerpt {
    font-size: $PC_FONT;
    line-height: 1.6;
    color: $CR;
    margin: 10px 0;
  }
  .cat-data {
    &.cate-echoice {
      display: none !important;
    }
    &.cate-serial {
      display: none !important;
    }
    &.cate-moon{
      display: none !important;
    }
  }
}

//最新記事
#latestAll {
  .articles__ttl {
    margin-top: 0;
  }
  .articles {
    &__img {
      width: 200px;
      height: 133px;
      img {
        width: 200px;
        height: 133px;
        object-fit: cover;
        margin: 0;
      }
    }
  }
}
.page {
  .cate__date {
    color: $CR;
    font-style: 18px;
  }
  .cate__author {
    color: $CR;
    font-size: 15px;
  }
  &__ttl {
    display: flex;
    align-items: flex-end;
    color: $CR;
    font-weight: normal;
    margin: 0 0 26px !important;
    &--en {
      font-size: 40px;
      font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
        "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Noto Serif JP",
        serif !important;
      display: inline-block;
      margin: 0 14px 0 0;
    }
    &--jp {
      font-size: 18px;
      display: inline-block;
      padding-bottom: 4px;
    }
  }
  &__contentsinner {
    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      margin: 0;
      display: block;
    }
    p {
      margin-bottom: 0;
      line-height: 1.5;

      span {
        display: inline-block;
        margin: 0 0 1.5em;
        line-height: 1.5;
      }
    }
    p.p1 {
      font-size: 17px;
      color: $CR;
      line-height: 1.65;
      margin-bottom: 1.5em;

      a {
        color: $PINK;
      }
    }
    h2 {
      font-size: 24px;
      line-height: 1.3;
      margin: 70px 0 20px;
    }
    h3 {
      font-size: 24px;
      line-height: 1.3;
      margin: 30px 0 10px;
    }
    h4 {
      font-size: 20px;
      line-height: 1.3;
      margin: 20px 0 10px;
    }
    .s1 {
    }
  }
  &__ranking {
  }
  .pageTtl {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 30px;
    br {
      display: none;
    }
  }
  .pageSubttl {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
  }
  .pageTxt {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  &__luna {

    &--keisan {
      padding: 0 20%;
    }
    &--seiza {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 256px;
      img {
        width: 600px;
        display: inline-block;
        margin: 0 auto;
      }
      &-ttl {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 30px;
      }
    }
    &--ttl {
      font-size: 17px;
      line-height: 1.5;
      margin: 25px 0 0;
    }
    &--intro {
      &-ttl {
        text-align: center;
        font-size: 14px;
        line-height: 2;
        padding: 58px 0 0;
        color: #262626;
      }
      &-link {
        overflow: hidden;
        margin-bottom: 53px;
        width: 100%;
        li {
          margin: 38px 4.626% 0 0;
          float: left;
          width: 21.53%;
          &:nth-child(4n) {
            margin-right: 0;
          }
          a {
            display: block;
            text-decoration: none;
            color: #262626;
          }
          img {
            display: inline-block;
            margin: 0 0 12px;
          }
        }
      }
      &-name {
        font-size: 17px;
        text-align: center;
        line-height: 1.5;
        span {
          font-size: 13px;
        }
      }
    }
  }
}
.comment-notes {
  color: $CR2 !important;
  font-size: 15px !important;
}
#commentform {
  label {
    display: block;
  }
}
div#toc_container {
  border: none !important;
  width: 100%;
  margin: 80px 0;
  padding: 50px 30px;
  .toc_title {
    font-size: 29px;
    text-align: center;
    border-bottom: solid 1px #000;
    padding-bottom: 20px !important;
    margin-bottom: 30px;
  }
  .toc_list {
    li {
      a {
        padding: 15px 0 7px;
        border-bottom: dashed 1px #d1d1d1;
        display: inline-block;
        &::before {
          content: "● ";
        }
      }
    }
    ul {
      li {
        a {
          &::before {
            content: "";
          }
        }
      }
    }
  }
}

//占い師の紹介
.fortuneteller {
  margin: 70px 0;
  border: solid 2px #c7c7c7;
  padding: 27px 19px 27px 25px;
  display: flex;
  align-items: center;
  img {
    flex-shrink: 0;
    width: 186px;
    display: inline-block;
    margin-right: 32px!important;
  }
  &__blc {
  }
  &__name {
    color: #262626;
    font-size: 20px;
    margin: 0 0 15px;
    font-weight: normal;
  }
  &__txt {
    color: #262626;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 20px;
  }
  &__insta {
    background: url("https://femtech.tv/wp-content/uploads/2022/01/insta.png")
      no-repeat 0 0;
    display: inline-block;
    padding: 2px 0 2px 27px;
    background-size: 18px 18px;
    color: #262626;
    text-decoration: none;
  }
}

/* SP 画面サイズ*/
@media screen and (max-width: $BP) {
  div#toc_container {
    margin: 45px 0;
    padding: 36px 20px;
    .toc_title {
      font-size: 16px;
      padding-bottom: 16px !important;
      margin-bottom: 20px;
    }
    .toc_list {
      li {
        a {
          font-size: 12px;
          padding: 15px 0 7px;
          border-bottom: dashed 1px #d1d1d1;
          display: inline-block;
        }
      }
    }
  }
  .page {
    .cate__date {
      font-style: 10px;
      margin: 0 12px 0 8px;
    }
    .cate__author {
      font-size: 8px;
    }
    &__contents {
      padding: 0 5%;
      img {
        margin: 10px 0;
      }
      p {
        font-size: 12px;
      }
      h2 {
        font-size: 16px;
        line-height: 1.3;
        margin: 40px 0 14px;
      }
      h3 {
        font-size: 16px;
        line-height: 1.3;
        margin: 30px 0 10px;
      }
      h4 {
        font-size: 14px;
        line-height: 1.3;
        margin: 20px 0 10px;
      }
    }
    &__ttl {
      margin: 0 0 26px;
      &--en {
        font-size: 27px;
        margin: 0 6px 0 0;
      }
      &--jp {
        font-size: 11px;
      }
    }
    .pageTtl {
      font-size: 20px;
      margin: 0 0 8vw;
      line-height: 1.5;
      br {
        display: block;
      }
    }
    .pageSubttl {
      font-size: 17px;
      margin: 0 0 3.7vw;
    }
    .pageTxt {
      font-size: 16px;
      margin-bottom: 6vw;
    }
    &__luna {
      &--seiza {
        padding: 0 5.6%;
        height: 38.6vw;
        img {
          width: 100%;
        }
      }
      &--fv {
        padding: 0 4.2vw;
      }
      &--ttl {
        font-size: 13px;
        margin: 14px 0 0;
      }
      &--intro {
        &-ttl {
          font-size: 11px;
          padding: 19vw 0 0;
        }
        &-link {
          margin-bottom: 12.6vw;
          padding: 0 10vw;
          li {
            margin: 9.6vw 5% 0 0;
            width: 30%;
            &:nth-child(4n) {
              margin-right: 5%;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
            img {
              margin: 0 0 3.2vw;
            }
          }
        }
        &-name {
          font-size: 13px;
          line-height: 1.3;
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
  #infoPage {
    width: 100%;
    margin: 30px 0;
    .page__fv {
      margin: 0 0 30px;
    }
    //メディア関係者の皆様へ
    .infoPage-ad {
      p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 16px;
      }
    }
    //プライバシーポリシー
    .infoPage-privacy {
      p {
        font-size: 14px;
        line-height: 1.8;
        margin: 0 0 18px;
      }
    }
    //会社概要『
    .infoPage-company {
      p {
        font-size: 14px;
        line-height: 1.8;
        margin: 0 0 18px;
      }
    }
    .wpcf7-form {
      p {
        margin: 0 0 25px;
      }
      input[type="text"],
      input[type="email"] {
        padding: 9px 15px;
        font-size: 14px;
        border-radius: 4px;
        &:focus {
          padding: 8px 14px;
        }
      }
      .wpcf7-submit {
        width: 100%;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 14px;
      }
      textarea {
        padding: 9px 15px;
        font-size: 141zpx;
        border-radius: 4px;
        &:focus {
          border: solid 2px $PINK;
          padding: 8px 14px;
        }
      }
    }
  }
  #rankingall {
    .sideConlist__exc {
      display: block;
      font-size: 11px;
      line-height: 1.5;
      color: $CR;
      margin: 0;
    }
    .articles__ttl {
    }
    .sideConlist {
      li {
        margin: 0 0 20px;
      }
      &__inner {
        align-items: top;
      }
      &__img {
        width: 135px;
        height: 90px;
        margin-right: 13px;
        img {
          width: 135px;
          height: 90px;
          object-fit: cover;
          margin: 0;
        }
      }
      .cat-data {
        margin: 0 6px 0 0;
        display: inline-block;
        line-height: 1;
      }
      &__authors {
        &--date {
          font-size: 9px;
          margin: 0 6px 0 0;
        }
        &--name {
          font-size: 8px;
        }
        &.pageblc {
          display: none;
        }
        &.sideblc {
          display: block;
        }
      }
      &__blc {
        &.pageblc {
          display: flex;
          flex-wrap: wrap;
        }
        .cat-data {
          margin-bottom: 7px;
        }
      }
      .categoryw {
        display: inline-block;
      }
    }
    .page_excerpt {
      display: none;
    }
  }

  //最新記事
  #latestAll {
    .articles__ttl {
    }
    .articles {
      &__img {
        width: 135px;
        height: 90px;
        img {
          width: 135px;
          height: 90px;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }

  //占い師の紹介
  .fortuneteller {
    margin: 10.6vw 0;
    border: solid 1px #c7c7c7;
    padding: 5vw 5.3vw;
    img {
      width: 24.5vw;
      margin-right: 2.6vw!important;
    }
    &__wrapper {
      padding: 0 4.2vw;
    }
    &__blc {
    }
    &__name {
      font-size: 13px;
      margin: 0 0 2vw;
    }
    &__txt {
      font-size: 11px;
      line-height: 1.8;
      margin: 0 0 4.2vw;
    }
    &__insta {
      font-size: 12px;
      padding: 2px 0 2px 24px;
      background-size: 16px 16px;
    }
  }
}

/* PC 画面サイズ*/
@media screen and (min-width: $BP+1) {
  .page {
  }
}

#reply-title {
  display: none !important;
}

.pageTtl{
  text-align: center;
}

.page__luna--month{
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  margin: 50px 0 24px;
  span{
    color: $SP;
  }
}

/* SP 画面サイズ*/
@media screen and (max-width: $BP) {
  .page__luna--month{
    font-size: 22px;
    margin: 6.66vw 0 4.2vw;
  }
}

//うそほんと。
.checktrue{
  input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
  &__true{
    border: solid 2px #4051AD;
    padding: 20px;
    background: #FFF;
    width: 49%;
    border-radius: 5px;
    text-align: center;
    color: #4051AD;
    font-weight: bold;
    font-size: 18px;
    &:hover{
      background: #DADFF5;
    }
    @media screen and (max-width: $BP) {
      padding: 10px 0; 
      font-size: 15px;

    }
  }
  &__false{
    border: solid 2px #D92020;
    padding: 20px;
    background: #FFF;
    width: 49%;
    border-radius: 5px;
    text-align: center;
    color: #D92020;
    font-weight: bold;
    font-size: 18px;
    &:hover{
      background: #FAE2E2;
    }
    @media screen and (max-width: $BP) {
      padding: 10px 0; 
      font-size: 15px;
    }
  }

  &__contents{
    padding: 0;
    @media screen and (max-width: $BP) {

      padding: 0 5%;
    }
  }
  &__fv{
    img{
      width: 100%;
    }
  }
  &__txt{
    text-align: center;
    margin: 5% 0 0;
    line-height: 1.6;
    font-size: 18px;
    font-weight: normal;
    @media screen and (max-width: $BP) {
      font-size: 15px;
    }
  }
  &__notice{
    line-height: 1.5;
    margin: 6px 0 0;
    color: #D92020;
    font-weight: bold;
    display: none;
  }
  &__inputs{
    margin: 100px 0 0;
    &--quest{
      font-size: 18px;
      line-height: 1.2;
      margin: 0 0 6px;
      @media screen and (max-width: $BP) {
        font-size: 16px;
      }
    }
    &--list{
      li{
        margin-bottom: 5%;
        .checktrue__inputs--btns input:checked + label.checktrue__true{
          background: #DADFF5;
    
        }
        .checktrue__inputs--btns input:checked + label.checktrue__false{
          background: #FAE2E2;
        }

        &.error{
          padding: 20px;
          background: #FDFCD0;
          .checktrue__notice{
            display: block;
          }
        }
      }
    }

    &--btns{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__submit{
    color: #FFF;
    background: #F08E09;
    display: inline-block;
    margin: 0 auto;
    padding: 28px 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    &--wrapper{
      text-align: center;
      margin: 80px 0 0;
    }
    &.disable{
      background: #ddd;
    }
  }
  
}

#sumit__alert{
  color: #D92020; 
  text-align: center;
  font-weight: bold;
  display: none;
  margin-top: 10px;
  &.active{
    display: block;
  }
}


//診断ページ　結果
.resultcheck{
  &__fv{

    background: rgb(243,231,244);
    padding: 100px 0 ;
    margin: 0 auto 30px;
  }
  &__ttl{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 0 auto 10px;
    letter-spacing: 0.1em;
  }
  &__subttl{
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  &__answers{
    @media screen and (max-width: $BP) {

      padding: 0 5%;
    }
    &--ttl{
      text-align: center;
      padding: 10px 0;
      border-radius: 5px;
      margin: 0 auto 40px;

      background: #F7F7F7;
      font-weight: normal;
    }
    &--lists{
      li{
        margin: 0 auto 20px;
      }
    }
    &--faqtrue{
      display: flex;
      align-items: center;
      color: #D92020;
      padding: 10px 0;
      br{
        display: none;
      }

      .resultcheck__answers--result{
        display: inline-block;
        padding: 3px 8px;
        background: #D92020;
        border-radius: 3px;
        border: solid 2px #D92020;
        color: #FFF;
        margin: 0 8px 0 0;
        font-size: 14px;
      }
      @media screen and (max-width: $BP) {
        display: block;
        br{
          display: block;
        }
        .resultcheck__answers--result{
          margin-bottom: 8px;
          text-align: center;
          width: 100%;
        }
      }
    }
    &--faqfalse{
      display: flex;
      align-items: center;
      color: #4051AD;
      padding: 10px 0;
      br{
        display: none;
      }

      .resultcheck__answers--result{
        display: inline-block;
        padding: 3px 8px;
        background: #4051AD;
        color: #FFF;
        border-radius: 3px;
        border: solid 2px #4051AD;
        margin: 0 8px 0 0;
        font-size: 14px;
      }
      @media screen and (max-width: $BP) {
        display: block;
        br{
          display: block;
        }
        .resultcheck__answers--result{
          margin-bottom: 8px;
          text-align: center;
          width: 100%;
        }
      }
    }
    &--setusmei{
      font-size: 14px;
      line-height: 1.8;
      color: #666;
    }
  }
}