.side {
  &__keyword {
    background: $BG;
    padding: 0 0 34px;

    &--link {
      overflow: hidden;

      li {
        list-style-type: none;
        float: left;
        margin: 0 18px 18px 0;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        display: inline-block;
        border: solid 1px #d1d1d1;
        color: $CR;
        white-space: nowrap;
        text-decoration: none;
        font-size: 15px;
        padding: 5px;
        &:hover {
          border: solid 1px $DPINK;
          background-color: $DPINK;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }

  &__ttl {
    display: flex;
    align-items: flex-end;
    color: $CR;
    font-weight: normal;
    margin: 0 0 26px;

    &--en {
      font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
        "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Noto Serif JP",
        serif !important;
      font-size: 30px;
      display: inline-block;
      margin: 0 14px 0 0;
    }

    &--jp {
      font-size: 17px;
      display: inline-block;
      padding-bottom: 4px;
    }
  }

  &__ranking {
    background: $BG;
    padding: 34px 0;

    &--inner {
    }

    &--blc {
    }
  }
  &__series {
    background: $BG;
    padding: 34px 0 10px;
    .cat-data {
      font-size: 13px;
      margin: 0 0 5px 0;
      line-height: 1.6;
      padding: 2px 7px;
    }
    &--blc {
      margin: 0 0 37px;
    }
    &--link {
      display: flex;
      text-decoration: none;
      margin: 0 0 19px;
    }
    &--img {
      margin: 0 22px 0 0;
      min-width: 122px;
      img {
        width: 122px;
        height: 83px;
        object-fit: cover;
      }
    }
    &--img02 {
      background: #fafafa;
      margin: 0 22px 0 0;
      min-width: 122px;

      img {
        width: 122px;
        height: 83px;
        object-fit: cover;
      }
    }
    &-r {
    }
    &--excerpt {
      font-size: 13px;
      color: $CR;
      line-height: 1.6;
      word-break: break-all;
    }
    &--catelink {
      display: flex;
      justify-content: flex-end;
      a {
        background: url("images/img_viewall.png") no-repeat;
        white-space: nowrap;
        text-indent: -9999px;
        display: inline-block;
        width: 114px;
        height: 19px;
        background-size: 100% auto;
      }
    }
  }
  &__hottag {
    background: $BG;
    padding: 34px 0;
    &--inner {
      padding: 26px 0 8px;
      border-top: solid 1px #b5b5b5;
      border-bottom: solid 1px #b5b5b5;
    }

    &--link {
      overflow: hidden;

      li {
        display: inline-block;
        float: left;
        margin: 0 24px 16px 0;

        a {
          text-decoration: none;
          color: $CR;
          font-size: 14px;
        }
      }
    }
  }

  &__insta {
    background: $BG;
    padding: 34px 0;
    &--link {
      display: block;
      text-decoration: none;
    }
    &--ttl {
      display: flex;
      align-items: center;
      color: $CR;
      font-weight: normal;
      margin: 0 0 30px;
    }

    &--ttltxt {
      font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
        "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Noto Serif JP",
        serif !important;
      font-size: 30px;
      display: inline-block;
      margin: 0 14px 0 0;
    }

    &--ttlicon {
      width: 22px;
      height: 22px;
      background: url("images/sideicon_insta.png") no-repeat;
      background-size: 100% auto;
      white-space: nowrap;
      text-indent: -9999px;
    }

    &--txt {
      color: $CR;
      font-size: 13px;
      line-height: 1.7;
    }
  }
  &__bnrs {
    background: $BG;
    padding: 34px 0;
    a {
      display: block;
      & + a {
        margin-top: 30px;
      }
    }
  }
}

.sideConlist {
  .cat-data {
    font-size: 13px;
    margin: 0 0 7px 0;
    padding: 2px 7px;
    line-height: 1.6;
  }
  .categoryw {
    display: none;
    &:first-child {
      display: inline-block;
    }
  }

  li {
    margin: 0 0 18px;
    &:first-child {
      .sideConlist__img {
        &::after {
          content: "";
          width: 37px;
          height: 37px;
          background: url("images/ranking01.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% auto;
        }
      }
    }
    &:nth-child(2) {
      .sideConlist__img {
        &::after {
          content: "";
          width: 37px;
          height: 37px;
          background: url("images/ranking02.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% auto;
        }
      }
    }
    &:nth-child(3) {
      .sideConlist__img {
        &::after {
          content: "";
          width: 37px;
          height: 37px;
          background: url("images/ranking03.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% auto;
        }
      }
    }
    &:nth-child(4) {
      .sideConlist__img {
        &::after {
          content: "";
          width: 37px;
          height: 37px;
          background: url("images/ranking04.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% auto;
        }
      }
    }
    &:nth-child(5) {
      .sideConlist__img {
        &::after {
          content: "";
          width: 37px;
          height: 37px;
          background: url("images/ranking05.png") no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% auto;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  &__authors {
    display: flex;
    &.pageblc {
      display: none;
    }
    &--date {
      color: #b2b2b2;
      font-size: 15px;
      margin: 0 8px 0 0;
    }

    &--name {
      color: #b2b2b2;
      font-size: 13px;
    }
  }

  &__exc {
    font-size: 13px;
    color: $CR;
    margin: 0 0 6px 0;
    line-height: 1.4;
  }

  &__img {
    margin: 0 22px 0 0;
    position: relative;
    width: 122px;
    height: 83px;
    min-width: 122px;
    img {
      width: 122px;
      height: 83px;
      object-fit: cover;
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    width: 100%;
  }
}
#carousel__slide-serial {
  .categoryw {
    display: inline-block;
  }
}
.side__ranking {
  position: relative;
}

.editorsIntro{
  padding-top: 30px;
  .articles__ttl--en{
    font-size: 30px;
  }
  .articles__ttl--jp{
    font-size: 17px;
    margin-left: 10px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    li{
      min-width: 80px;
      width: 80px;
      img{
        width: 100%;
      }
    }

    &--name{
      text-align: center;
      font-size: 13px;
      line-height: 1;
      color: #262626;
      margin: 5px 0 0;
      span{
        font-size: 10px;
      }
    }
  }
  &__listbtm{
    display: flex;
    justify-content: space-between;
    padding: 0 22%;
    margin-top: -5px;
    li{
      min-width: 80px;
      width: 80px;
      img{
        width: 100%;
      }
    }
    
  }
  &__txt{
    font-size: 13px;
    line-height: 1.6;
    color: #262626;
    margin: 26px 0 0;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }

  93% {
    left: 100%;
  }

  94% {
    left: 100%;
  }

  95% {
    left: 100%;
  }

  96% {
    left: 100%;
  }

  97% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  93% {
    left: -300%;
  }

  94% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  96% {
    left: -300%;
  }

  97% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  93% {
    scroll-snap-align: center;
  }

  94% {
    scroll-snap-align: none;
  }

  95% {
    scroll-snap-align: none;
  }

  96% {
    scroll-snap-align: none;
  }

  97% {
    scroll-snap-align: none;
  }

  98% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  perspective: 100px;
  .page_excerpt {
    display: none;
  }
  .page-cate {
    display: none;
  }

  &__viewport {
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    &--wrapper {
      position: relative;
    }
    .carousel__slide {
      padding-top: 76px;
    }
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 74px;
  }
  &__navigation {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    display: flex;
    height: 43px;
    border-top: solid 1px #b2b2b2;

    &--list {
      overflow-x: scroll;
      font-size: 0;
      line-height: 0;
      flex: 1;
      display: flex;
      height: 43px;

      -ms-overflow-style: none; /* IE, Edge 対応 */
      scrollbar-width: none; /* Firefox 対応 */
      &::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none;
      }
      li {
        flex-shrink: 1;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43px;
        border-right: solid 1px #b2b2b2;
        border-bottom: solid 1px #b2b2b2;
        vertical-align: center;
        transition: transform 0.1s;
        font-size: 12px;
        color: #404040;
        min-width: 75px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        &.active {
          border-bottom: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    // &--button {
    //     vertical-align: center;
    //     transition: transform 0.1s;
    //     white-space: nowrap;
    //     font-size: 12px;
    //     color: #404040;
    //     min-width: 75px;
    //     width: 100%;
    //     display: inline-block;
    //     text-decoration: none;
    //     text-align: center;
    // }

    &--prevscroll {
      width: 26px;
      height: 43px;
      cursor: pointer;
      background: url("images/arrow_ranking1.png") no-repeat;
      background-size: 5px 10px;
      display: inline-block;
      background-position: center;
      border-right: solid 1px #b2b2b2;
      border-bottom: solid 1px #b2b2b2;
      border-left: solid 1px #b2b2b2;
    }
    &--nextscroll {
      width: 26px;
      height: 43px;
      cursor: pointer;
      border-left: solid 1px #b2b2b2;
      border-bottom: solid 1px #b2b2b2;
      border-right: solid 1px #b2b2b2;
      background: url("images/arrow_ranking2.png") no-repeat;
      background-size: 5px 10px;
      display: inline-block;
      background-position: center;
    }
  }
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
  display: none;
  li {
    &:last-child {
      margin: 0;
    }
  }
  &.show {
    display: block;
  }
}

.carousel__navigation-item {
  display: inline-block;
}

// body.category-pms {
//     .side__keyword--link {
//         .cate-8{

//             //PMS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-femtech {
//     .side__keyword--link {
//         .cate-9 {
//             //FEMTECH
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-10 {
//     .side__keyword--link {
//         .cate-10 {

//             //NEWS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-29 {
//     .side__keyword--link {
//         .cate-29 {

//             //MENS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-111 {
//     .side__keyword--link {
//         .cate-111 {

//             //SEXIall wellness
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-114 {
//     .side__keyword--link {
//         .cate-114 {

//             //FEMTECH BEAUTY & market research
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.category-aoki {
//     .side__keyword--link {
//         .cate-129 {

//             //月と運気の話
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-pms {
//     .side__keyword--link {
//         .cate-8{

//             //PMS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-femtech {
//     .side__keyword--link {
//         .cate-9 {
//             //FEMTECH
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-10 {
//     .side__keyword--link {
//         .cate-10 {

//             //NEWS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-29 {
//     .side__keyword--link {
//         .cate-29 {

//             //MENS
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-well {
//     .side__keyword--link {
//         .cate-111 {

//             //SEXIall wellness
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-114 {
//     .side__keyword--link {
//         .cate-114 {

//             //FEMTECH BEAUTY & market research
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

// body.page-aoki {
//     .side__keyword--link {
//         .cate-129 {

//             //月と運気の話
//             a {
//                 background-color: #d07b7b;
//                 border: solid 1px #d07b7b;
//                 color: #FFF;
//             }
//         }
//     }
// }

.side__ranking {
  .wp-show-posts-image.wpsp-image-left {
    margin-right: 10px;
  }
}

@media screen and (max-width: $BP) {
  .sideConlist {
    &__authors {
      &--date {
        font-size: 9px;
      }

      &--name {
        font-size: 7px;
      }
    }
    &__exc {
      font-size: 11px;
    }
  }
  .side {
    &__keyword {
      padding: 32px 5%;
    }

    &__ttl {
      margin: 0 0 32px;

      &--en {
        font-size: 27px;
        margin: 0 6px 0 0;
      }

      &--jp {
        font-size: 11px;
      }
    }

    &__hottag {
      padding: 32px 5%;

      &--inner {
        border: none;
      }

      &--link {
        li {
          margin: 0 10px 16px 0;

          a {
            font-size: 12px;
          }
        }
      }
    }
    &__ranking {
      background: #fff;
      padding: 32px 5%;
    }
    &__series {
      background: #fff;
      padding: 32px 5%;

      &--blc {
        margin: 0 0 26%;
      }
      &--link {
        display: block;
        text-decoration: none;
        margin: 0 0 19px;
      }
      &--img {
        margin: 0 0 30px 0;
        width: 100%;
        height: 56vw;
        display: flex;
        align-items: center;
        box-shadow: 5px 5px 5px 0 rgba(66, 66, 66, 0.3);
        img {
          width: 100%;
          height: auto;
        }
      }
      &--img02 {
        margin: 0 0 30px 0;
        width: 100%;
        height: 56vw;
        display: flex;
        box-shadow: 5px 5px 5px 0 rgba(66, 66, 66, 0.3);
        img {
          width: 100%;
          height: 56vw;
          object-fit: cover;
        }
      }
      &--excerpt {
        font-size: 13px;
      }
      &--catelink {
        a {
          width: 96px;
          height: 16px;
          background-size: 100% auto;
        }
      }
    }
    &__insta {
      padding: 32px 5%;

      &--ttl {
        margin: 0 0 26px;
      }

      &--ttltxt {
        font-size: 22px;
        margin: 0 20px 0 0;
      }

      &--ttlicon {
      }

      &--txt {
        font-size: 12px;
      }
    }
    &__bnrs {
      background: none;
      padding: 19.7vw 4vw;
      a {
        display: block;
        & + a {
          margin-top: 30px;
        }
      }
    }
  }

  .carousel {
    position: relative;
    perspective: 100px;
    .page_excerpt {
      display: none;
    }
    .page-cate {
      display: none;
    }

    &__viewport {
      display: flex;
      overflow-x: scroll;
      counter-reset: item;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      &--wrapper {
        position: relative;
      }
      .carousel__slide {
        padding-top: 76px;
      }
    }
    &__inner {
      position: relative;
      width: 100%;
      height: 74px;
    }
    &__navigation {
      &--list {
        width: 100%;
        li {
          font-size: 3vw;
          width: 25.1%;
          min-width: 25.1%;
        }
      }

      &--prevscroll {
        width: 8%;
        height: 43px;
        font-size: 0;
        line-height: 0;
        box-sizing: border-box;
      }
      &--nextscroll {
        width: 8%;
        height: 43px;
        font-size: 0;
        line-height: 0;
        box-sizing: border-box;
      }
    }
  }
  .editorsIntro{
    background: none;
    margin: 20vw 0 0;
    padding: 0;
    .articles__ttl--en{
      font-size: 30px;
    }
    .articles__ttl--jp{
      font-size: 13px;
    }
    &__list{
      width: 100%;
      li{
        min-width: 20.2vw;
        width: 20.2vw;
        img{
          width: 100%;
        }
      }
  
      &--name{
        // margin-top: 2.6vw;
        font-size:10px;
        span{
          font-size: 8px;
        }
      }
    }
    &__txt{
      margin: 5.6vw 0 0;
      font-size:10px;

    }
  }
}


//追記 TOPページの連載の間隔を変更
@media screen and (max-width: $BP) {

.side__series--blc{
  margin: 0 0 13vw;
}
.side__series--img, .side__series--img02{
  margin: 0 0 4vw;
}
.side__series--link{
  margin: 0 0 10px;
}
}

