/* 記事ページ --------------------------------------------------------------- */
.single {

    .cate__date {
        color: #b2b2b2;
        font-size: 18px;
    }

    .cate__author {
        color: #b2b2b2;
        font-size: 15px;
    }

    &__contentsinner {
        img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            margin: 0;
            display: block;
        }

        p {
            font-size: 17px;
            color: $CR;
            line-height: 1.65;
            margin-bottom: 1.5em;

            a {
                color: $PINK;
            }
        }

        h1 {
            font-size: 24px;
            margin: 0 0 26px;
            line-height: 1.2;
        }

        h2 {
            font-size: 24px;
            line-height: 1.3;
            margin: 70px 0 1.5em;
        }

        h3 {
            font-size: 24px;
            line-height: 1.3;
            margin: 30px 0 10px;
        }

        .h2 {
            font-size: 24px!important;
            line-height: 1.3!important;
            margin: 70px 0 1.5em!important;
        }

        .h3 {
            font-size: 24px!important;
            line-height: 1.3!important;
            margin: 30px 0 10px!important;
        }
        h4 {
            font-size: 20px;
            line-height: 1.3;
            margin: 20px 0 10px;
        }

        .s2,
        .s3 {
            display: inline-block;
            line-height: 1.5;
            margin: 0;
        }

        .s1 {
            display: inline-block;
            line-height: 1.5;
            margin: 0;
        }

        .img {
            margin: 0 0 5px;
        }

    }

    &__topimg {
        width: 100%;
        height: 324px;

        img {
            width: 100%;
            height: 324px;
            object-fit: cover;
        }
    }

    &__linkto {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: $CR;
            font-size: 16px;
            margin: 36px 46px;
        }
    }

    &__fv {
        &--index {
            margin: 0 0 18px;
        }

        &--ttl {
            font-size: 24px;
            margin: 0 0 26px;
            line-height: 1.2;
        }

        &--cate {
            font-size: 16px;
            margin: 0 0 46px 0;

            li {
                display: inline-block;
                margin: 0 14px 0 0;

                a {
                    color: #808080;
                    text-decoration: none;
                }
            }
        }

        &--catewrap {
            margin: 38px 0 0;
        }
    }

    &__sns {
        margin: 24px 0 62px;
        overflow: hidden;

        li {
            float: left;
            margin: 0 32px 0 0;

            a {
                text-indent: -9999px;
                white-space: nowrap;
                display: inline-block;
                width: 38px;
                height: 38px;
            }
        }

        &--fb {
            background: url('images/singleicon_fb.png') no-repeat;
            background-size: 100% auto;
        }

        &--tw {
            background: url('images/singleicon_tw.png') no-repeat;
            background-size: 100% auto;
        }

        &--in {
            background: url('images/singleicon_line.png') no-repeat;
            background-size: 100% auto;
        }
    }

    &__come {
        border-bottom: solid 1px #404040;

        #js-comment {
            margin-bottom: 0;
        }

        &--ttl {
            font-size: 17px;
            line-height: 1;
            font-weight: normal;
            border-top: solid 1px #404040;
            padding: 12px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                opacity: 0.7;
            }
        }

        &--ttlicon {
            font-size: 14px;
        }

        &--con {
            padding: 20px 0 30px;
            display: none;
        }
    }

    &__author {
        border: solid 1px #c7c7c7;
        padding: 20px;
        margin: 110px 0;
        overflow: hidden;

        &--img {
            width: 198px;
            height: 198px;
            margin: 0 20px 0 0;
            display: inline-block;
            float: left;

            img {
                width: 198px;
                height: 198px;
                object-fit: cover;
                margin: 0;
            }

        }

        span {
            font-size: 20px;
            line-height: 1.5;

            span {
                font-size: 17px;
                line-height: 1.3;
            }
        }
    }

    &__newpage {
        text-align: center;
        margin: 4rem auto;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: $DPINK;
            display: inline-block;
            border: solid 1px $DPINK;
            max-width: 80%;
            border-radius: 3rem;
            width: 80%;
            margin: 0 10px;

            .next {
                background: url('https://femtech.tv/wp-content/uploads/2022/04/arrow.png') no-repeat right 1rem center;
                background-size: 0.7rem 0.7rem;
                display: block;
                padding: 1rem 0;

            }

            .back {
                background: url('https://femtech.tv/wp-content/uploads/2022/04/arrowR.png') no-repeat left 1rem center;
                background-size: 0.7rem 0.7rem;
                display: block;
                padding: 1rem 0;

            }
        }
    }
}

#js-comment {
    .single__come--ttlicon {
        transform: rotate(0deg);
        transition: 0.5s ease;
    }

    &.active {
        .single__come--ttlicon {
            transform: rotate(180deg);
            transition: 0.5s ease;

        }
    }
}


div#toc_container {
    border: none !important;
    width: 100%;
    margin: 80px 0;
    padding: 50px 30px;

    .toc_title {
        font-size: 29px;
        text-align: center;
        border-bottom: solid 1px #000;
        padding-bottom: 20px !important;
        margin-bottom: 30px;
    }

    .toc_list {

        li {
            a {
                padding: 15px 0 7px;
                border-bottom: dashed 1px #d1d1d1;
                display: inline-block;

                &::before {
                    content: "● ";
                }
            }
        }

        ul {
            li {
                a {
                    &::before {
                        content: "";

                    }
                }
            }
        }
    }

}

#comments {
    font-size: 17px !important;
    font-weight: normal;
    margin: 10px 0;
}

//コメントフォームについて -------------------------------------------------------

.comment-area {
    margin: 0 0 70px;
}

.comment_meta {
    display: flex;
    align-items: flex-end;
    margin: 0 11px 22px 0;

    .author {
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        margin: 0 11px 0 0;
    }

    .post_date {
        display: inline-block;

        color: #b2b2b2;
        font-size: 15px;
    }

}

.comment_text {
    p {
        font-size: 17px;
        line-height: 1.4;
    }

}

.commets-list {
    li {
        padding: 30px 0;
        border-top: solid 1px #b2b2b2;

    }
}

.comment-form-comment {
    margin: 0 0 35px;

    textarea {
        width: 100%;
        height: 260px;
        border-radius: 7px;
        padding: 15px;
        line-height: 1.4;
        border: solid 1px #404040;

        &:focus {
            border: solid 2px $PINK;
            outline: none;
            padding: 14px;
        }

        &::placeholder {
            font-size: 15px;
            color: #b2b2b2;
            font-weight: normal;
        }
    }

    &::placeholder {
        font-size: 15px;
        color: #b2b2b2;
        font-weight: normal;
    }

}

.comment-form-url {
    display: none;
}

.comment-notes {
    color: $CR2 !important;
    font-size: 15px !important;
}

#commentform {
    label {
        display: block;
    }
}

.comment-form-author {
    margin: 0 0 35px;

    label {
        line-height: 1.5;
    }
}

.comment-form-cookies-consent {
    display: flex;
    margin: 0 0 35px;
    align-items: center;

    input[type=checkbox] {
        width: 28px;
        height: 28px;
        border: solid 1px #404040;
        margin: 0 10px 0 0;
        background: #FFF;

        &:checked {
            background: $PINK;
        }
    }
}

.form-submit {
    width: 40%;

    input {
        padding: 10px 20px;
        border: solid 1px #404040;
        background: #FFF;
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        font-size: 15px;
        color: $CR;

        &:hover {
            border: solid 1px $PINK;
            background: $PINK;
            color: #FFF;
        }
    }
}

.comment-note {
    color: $CR;
    font-size: 17px;
    line-height: 1.4;
}

.comment-form-email {
    margin: 0 0 35px;

    label {
        line-height: 1.5;

    }

    input {
        width: 100%;
        border-radius: 7px;
        padding: 9px 15px;
        line-height: 1.4;
        border: solid 1px #404040;
    }
}

.comment-form-author {
    input {
        width: 100%;
        border-radius: 7px;
        padding: 9px 15px;
        line-height: 1.4;
        border: solid 1px #404040;
    }
}

#commentform {
    margin: 0 0 58px;

    input {
        &:focus {
            border: solid 2px $PINK;
            outline: none;
            padding: 8px 14px;
        }

        &::placeholder {
            font-size: 15px;
            color: #b2b2b2;
            font-weight: normal;
        }
    }
}



/* SP 画面サイズ*/
@media screen and (max-width: $BP) {
    div#toc_container {
        margin: 45px 0;
        padding: 36px 20px;

        .toc_title {
            font-size: 16px;
            padding-bottom: 16px !important;
            margin-bottom: 20px;
        }

        .toc_list {
            li {
                a {
                    font-size: 12px;
                    padding: 15px 0 7px;
                    border-bottom: dashed 1px #d1d1d1;
                    display: inline-block;
                }
            }
        }

    }

    .single {
        // img{
        //     max-width: 100%;
        //     height: auto;
        // }

        &__linkto {

            a {
                display: inline-block;
                font-size: 12px !important;
                margin: 32px 28px;
                line-height: 1.4;

            }
        }

        .cate__date {
            font-size: 12px;
            margin: 0 6px 0 2px;
        }

        .cate__author {
            font-size: 10px;
        }

        &--index {}

        &__contents {
            padding: 0 5%;

            img {
                margin: 10px 0;
            }

            p {
                font-size: 16px;
            }

            h1 {
                font-size: 18px;
                line-height: 1.4;
            }

            h2 {
                font-size: 18px;
                line-height: 1.3;
                margin: 40px 0 14px;
            }

            h3 {
                font-size: 16px;
                line-height: 1.3;
                margin: 30px 0 10px;
            }

            .h2 {
                font-size: 18px!important;
                line-height: 1.3;
                margin: 40px 0 14px!important;
            }

            .h3 {
                font-size: 16px!important;
                line-height: 1.3!important;
                margin: 30px 0 10px!important;
            }

            h4 {
                font-size: 16px;
                line-height: 1.3;
                margin: 20px 0 10px;
            }

            .s1,
            .s2,
            .s3 {
                display: inline-block;
                line-height: 1.5;
                margin: 5px 0;
            }
        }

        &__topimg {
            width: 100%;
            height: 50vw;

            img {
                width: 100%;
                height: 50vw;
                object-fit: cover;
            }
        }

        &__linkto {
            a {
                font-size: 10px;
                margin: 32px 10px;
            }
        }

        &__fv {
            padding: 0 5%;

            &--index {
                margin: 0 0 8px;
            }

            &--ttl {
                font-size: 20px;
                margin: 0 0 10px;
            }

            &--cate {
                font-size: 14px;
                line-height: 1.2;
                margin: 0 0 20px;

                li {
                    margin: 0 8px 0 0;
                }
            }

            &--catewrap {
                margin: 30px 0 0;
            }

            .cat-data {}

        }

        &__sns {
            margin: 6px 0 36px;

            li {
                margin: 0 23px 0 0;

                a {
                    width: 28px;
                    height: 28px;
                }
            }
        }

        &__come {
            &--ttl {
                font-size: 16px;
                padding: 6px 10px;
            }

            &--ttlicon {
                font-size: 12px;

            }

            &--con {
                padding: 10px 0 20px;
            }
        }

        &__author {
            padding: 16px;
            margin: 46px 0 70px;
            overflow: hidden;
            display: block;

            &--img {
                width: 100px;
                height: 100px;
                margin: 0 10px 5px 0;
                display: inline-block;
                float: left;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    margin: 0;
                }
            }

            span {
                font-size: 14px;
                margin-bottom: 13px;
                line-height: 1.5;

                span {
                    font-size: 10px;
                }
            }

        }
    }

    #comments {
        font-size: 15px !important;
        margin: 10px 0 0;
    }

    //コメントフォームについて -------------------------------------------------------

    .comment-area {
        margin: 0 0 40px;
    }

    .comment_meta {

        margin: 0 0 13px 0;

        .author {
            font-size: 13px;
            margin-right: 10px
        }

        .post_date {
            font-size: 9px;
        }

    }

    .comment_text {
        p {
            font-size: 13px;
        }

    }

    .commets-list {
        li {
            padding: 15px 0;
        }
    }

    .comment-form-comment {
        margin: 0 0 22px;

        textarea {
            height: 130px;
            border-radius: 4px;
            padding: 10px;

            &:focus {
                padding: 9px;
            }

            &::placeholder {
                font-size: 13px;
            }
        }

        &::placeholder {
            font-size: 13px;
        }

    }

    .comment-form-url {
        display: none;
    }

    .comment-notes {
        font-size: 11px !important;
    }

    .comment-form-author {
        margin: 0 0 22px;
    }

    .comment-form-cookies-consent {
        margin: 0 0 22px;

        input[type=checkbox] {
            width: 18px;
            height: 18px;
            margin: 0 10px 0 0;
        }

        label {
            font-size: 13px;
        }
    }

    .form-submit {
        width: 100%;

        input {
            padding: 10px 20px;
            border-radius: 4px;
            width: 100%;
            font-size: 13px;
        }
    }

    .comment-note {
        font-size: 11px;
    }

    .comment-form-email {
        margin: 0 0 22px;

        input {
            border-radius: 4px;
            padding: 9px 15px;
        }
    }

    .comment-form-author {
        input {
            border-radius: 4px;
            padding: 9px 15px;
        }
    }

    #commentform {
        margin: 0 0 33px;

        input {
            &:focus {
                padding: 8px 14px;
            }

            &::placeholder {
                font-size: 13px;
            }
        }
    }

}

/* PC 画面サイズ*/
@media screen and (min-width: $BP+1) {
    .single {}

}


#reply-title {
    display: none !important;
}

.toc_list {
    li {
        color: #d17b7b;

    }

    span {
        display: block;
        margin: 30px 0 5px;
        display: flex;

        &::before {
            content: " - ";
            color: #666;

        }
    }
}

.single__paging {
    line-height: 1;
    margin: 50px auto 10px;
    color: #444;

    .split-page-nav {
        text-align: center;
        margin: 0 auto;


    }

    .pagenext_arrow {
        background: url('https://femtech.tv/wp-content/uploads/2022/07/arrow_pager-hover2.png') no-repeat;
        background-size: auto 100%;
        width: 5px;
        height: 10px;
        display: block;
        margin-left: 20px;
    }

    .next-page-link {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0 10%;
        margin: 0 auto 15px;

        a {
            text-decoration: none;

            span {

                &:hover {
                    color: #e37d7f !important;
                    opacity: 1 !important;

                    .pagenext_arrow {
                        background: url('https://femtech.tv/wp-content/uploads/2022/07/arrow_pager-hover2.png') no-repeat;
                        background-size: auto 100%;
                    }
                }
            }

            &:hover {
                color: #e37d7f !important;
                opacity: 1 !important;
            }
        }

    }

    .page-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: #e37d7f;
        background: #FFF;
        border-bottom: dashed 1px #666;
        padding: 5px;
        max-width: 100%;
        width: 100%;

        &:hover {
            opacity: 1 !important;
            border-bottom: dashed 1px #e37d7f;

        }
    }

    .num_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .pageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 50px;
    }

    .post-nav-links {
        display: none;
    }

    .split-page-nav {
        display: none;
    }

    .page-nextTxt {
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

.single__btmpaging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 80px;

    .next-page-link,
    .prev-page-link {
        display: inline-block;
    }

    .post-page-numbers {
        display: inline-block;
    }

    .page-number {
        font-size: 18px;
        border-radius: 38px;
        width: 38px;
        max-width: 38px;
        height: 38px;
        max-height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e37d7f;
        background: #fff;
        border: solid 1px #f3b7b8;

        font-weight: normal;

        &_wraper {
            display: inline-block;
            margin: 0 3px;
        }


    }

    .post-page-numbers {
        &.current {
            .page-number {
                color: #FFF;
                background: #e37d7f;
                border: none;
            }

        }
    }

    a {
        text-decoration: none;
    }

    .prev-page-link,
    .next-page-link {
        display: inline-block;

        .page-number {
            background: #FFF;
            display: flex;
            word-break: keep-all;
            align-items: center;
            border: none;
            font-size: 12px;
        }

        a {
            color: #e37d7f;
            display: block;
            margin: 0 5px;
            font-weight: normal;
            min-width: 6em;
            background-color: #FFF;
            display: flex;
            word-break: keep-all;
            align-items: center;
            justify-content: center;
            min-height: 30px;
            border: solid 1px #f3b7b8;
            border: none;
            font-size: 12px;

        }
    }

    .next-page-link {
        a {
            background: url('https://femtech.tv/wp-content/uploads/2022/07/arrow_pager-hover2.png') no-repeat right center;
            background-size: 3px 8px;
            padding-right: 10px;
            margin-left: 10px;
        }
    }

    .prev-page-link {
        a {
            background: url('https://femtech.tv/wp-content/uploads/2022/07/arrow_pager-hover2prev.png') no-repeat left center;
            background-size: 3px 8px;
            padding-left: 10px;
            margin-right: 10px;
        }

        .page-number_wraper {
            margin: 0;
        }
    }

    .page-nextTxt {
        display: none;
    }
}

@media screen and (max-width: $BP) {
    .next-page-link {
        padding: 0 !important;
        font-size: 14px;
    }

}

//月星座占い
.luna {
    &__keisan {
        padding: 0 20%;
    }

    &__seiza {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 256px;

        img {
            width: 600px;
            display: inline-block;
            margin: 0 auto;
        }

        &-ttl {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 30px;
        }
    }

    &__ttl {
        font-size: 17px;
        line-height: 1.5;
        margin: 25px 0 0;
    }

    &__intro {
        &-ttl {
            text-align: center;
            font-size: 14px;
            line-height: 2;
            padding: 58px 0 0;
            color: #262626;
        }

        &-link {
            overflow: hidden;
            margin-bottom: 53px;
            width: 100%;

            li {
                margin: 38px 4.626% 0 0;
                float: left;
                width: 21.53%;

                &:nth-child(4n) {
                    margin-right: 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: #262626;
                }

                img {
                    display: inline-block;
                    margin: 0 0 12px;
                }
                p{
                    display: none!important;
                }
            }
        }

        &-name {
            font-size: 17px!important;
            text-align: center;
            display: block;
            margin: 0 auto;
            line-height: 1.5!important;
            margin: 0 auto!important;
            span {
                font-size: 13px;
            }
        }

    }

    &__month{
        text-align: center;
        font-weight: bold;
        font-size: 34px!important;
        margin: 50px 0 24px!important;
        span{
          color: $SP;
        }
    }
    &__subttl{
        font-weight: bold;
        text-align: center;
        font-size: 24px!important;
        margin: 0 auto 30px!important;
    }
    &__action{
        font-weight: bold;
        font-size: 18px;
        margin: 50px 0 0!important;
    }
    &__luckyaction{
        margin: 0 0 80px!important;
    }
    @media screen and (max-width: $BP) {


        &__seiza {
            padding: 0 5.6%;
            height: 38.6vw;

            img {
                width: 100%;
            }
        }

        &__fv {
            padding: 0 4.2vw;
        }

        &__ttl {
            font-size: 13px;
            margin: 14px 0 0;
        }

        &__intro {
            &-ttl {
                font-size: 11px;
                padding: 19vw 0 0;
            }

            &-link {
                margin-bottom: 12.6vw;
                padding: 0 10vw;

                li {
                    margin: 9.6vw 5% 0 0;
                    width: 30%;

                    &:nth-child(4n) {
                        margin-right: 5%;
                    }

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    img {
                        margin: 0 0 3.2vw;
                    }
                }
            }

            &-name {
                font-size: 13px!important;
                line-height: 1.3!important;

                span {
                    font-size: 10px;
                }
            }
        }
        &__month{
            font-size: 22px!important;
            margin: 6.66vw 0 4.2vw!important;
        }
        &__subttl{
            font-size: 20px!important;
            margin: 0 0 8vw!important;
        }
        &__luckyaction{
            margin: 0 0 40px!important;
        }
    }
}

//改ページの見出し削除
.toc_list{
    > span{
        display: none;
    }
}

//SNSアイコン
.single__sns{
    margin: -18px 0 30px 0; 
    li{
        float: right;
    }
    @media screen and (max-width: $BP) {
        margin: -8px 0 16px 0; 

    }
}
//全体のホロスコープページ
.single__horoscope--snswrapper{
    padding: 20px 0 0;  
    .single__sns{
        margin-bottom: 0;
    }
    @media screen and (max-width: $BP) {
        padding: 0;
        margin-bottom: -20px;
    }
}
//個々の星占いのページ
.single__moon--snswrapper{
    @media screen and (max-width: $BP) {

    margin-top: -7vw;
    }
}
@media screen and (max-width: $BP) {

.page__luna--intro{
    padding: 0 5%;
    .page__luna--intro-ttl{
        font-size: 14px;
    }
}
.page__luna--ttl{

        font-size: 14px!important;
    }
}
.page__luna--intro-ttl{
    @media screen and (max-width: $BP) {
        padding-top: 10vw;
    }
}