@charset "utf-8";
@import "reset";
@import "base";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');


.slick-dots{
    bottom: -40px;
    li{
        width: 10px;
        height: 10px;
        margin: 0 6px;
        button{
            width: 10px;
            height: 10px;
            &::before{
                color: #D6D7D7;
                opacity: 1.0;
            }
        }
    }
}
.slick-dots li.slick-active button:before{
    color: $PINK;
}
.slideTop{
    position: relative;
    z-index: 1;
}
.slide{
    margin-bottom: 50px;
    &__txtblc{
        width: 100%;
        padding: 16px 16px 10px;
        position: absolute;
        bottom: 0;
    }
    &__wrap{
        position: relative;
        &--link{
            display: block;
            text-decoration: none;
            color: #262626;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
                
            }
        }
    }
    &__txtwrap{
        display: flex;
        align-items: center;
        margin: 0 0 4px 0;
    }
    &__white{
        background: url('images/bg_slide.png') repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__ex{
        display: inline-block;
    }
    &__excerpt{
        font-size: 17px;
        line-height: 1.6;

    }
    &__img{
        display: block;
        text-align: center;
        img{
            width: 100%;
            height: 430px;
            object-fit: cover;
        }
    }
    &__blc{
        align-items: center;
    }
}


#toparticles{
    margin: 0 0 90px;
    .articles{
        &__img{
            width: 135px;
            height: 90px;
            flex: 1;
            margin: 0 13px 0 0;
            display: block;
            min-width:  135px;
            img{
                width: 135px;
                height: 90px;
                object-fit: cover;
            }
        }
        &__list{
            a{
                text-decoration: none;
            }
            li{
                display: flex;
                align-items: center;
                margin: 0 0 20px;
                &:first-child{
                    .articles__img{
                        width: 200px;
                        height: 133px;

                        min-width: 200px;
                        img{
                            width: 200px;
                            height: 133px;
                            object-fit: cover;
                        }
                    }
                }
            }
            .cat-data{
                font-size: 12px;
                margin-right: 12px;
            }
        }

        &__excerpt{
            font-size: $PC_FONT;
            color: $CR;
            line-height: 1.6;
            display: inline-block;
            word-break: break-all;
        }
        &__date{
            color: $GRAY;
            font-size: 15px;
            margin: 0 12px 0 0;
        }
        &__author{
            color: $GRAY;
            font-size: 13px;
        }
        &__blc{
            margin: 0 0 8px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .pager{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 46px 0 0;
        .pagination{
            display: inline-block;
            margin: 0 auto;
            a{
                text-decoration: none;
                font-size: 16px;
                display: inline-block;
                color: $CR;
            }
            // .dots + .page-numbers{
            //     display: none;
            // }
            .page-numbers{
                margin: 0 20px 0 0;
            }
            span{
                color: #848484;
            }
        }
    }
}

#js-newest{
    padding-top: 8%;
}

@media screen and (max-width: $BP) {
    .slick-dots{
        bottom: -30px;
    }
    .slide{
        width: 100vw!important;
        margin-bottom: 34px;
        display: block;

        &__txtwrap{
            margin: 0 0 4px 0;

        }
        &__white{
            bottom: -2px;
            width: 100%;
            height: 55vw;
            background-size: auto 100%;
        }

        &__excerpt{
            font-size: 12px; 
        }
        &__img{
            display: block;
            text-align: center;
            width: 100vw;
            overflow: visible;
            height: 54vw;
            img{
                width: 100%;
                height: 54vw;
                object-fit: cover;
            }
        }
    }
    //最新記事
    #toparticles{
        margin: 0 0 75px;
        .articles{
            &__img{
                width: 100%;
                height: 28vw;
                margin: 0 13px 0 0;
                overflow: hidden;

                align-items: center;
                img{
                    width: 100%;
                    
                    height: 28vw;
                    object-fit: cover;
                }
            }
            &__ex{
                display: none;
            }
            &__list{
                display: block;
                overflow: hidden;
                a{
                    display: block;
                }
                li{
                    align-items: center;
                    margin: 0 0 20px;
                    width: 47%;
                    float: right;
                    &:first-child{
                        width: 100%;
                        .articles__img{
                            width: 100%;
                            height: 56vw;
                            min-width: 100%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .articles__small{
                            display: none;
                        }
                        .articles__ex{
                            display: block;
                        }
                    }
                    &:nth-child(even){
                        margin-right: 5%;
                        float: left;
                    }
                }
                .cat-data{
                    margin-right: 10px;
                }
                &--link{
                    display: block;
                }
            }
            
            &__excerpt{
                font-size: 13px;
                line-height: 1.6;
                display: inline-block;
            }
            &__date{
                font-size: 9px;
                margin: 0 6px 0 0;
            }
            &__author{
                font-size: 8px;
            }
            &__blc{
                margin: 12px 0 5px;
            }
            
        }
        .pager{

            margin: 23px 0 0;
            .pagination{

                a{
                    font-size: 13px;
                }
                // .dots + .page-numbers{
                //     display: none;
                // }
                .page-numbers{
                    margin: 0 10px 0 0;
                }

            }
        }
    }
    .spbtm{
        background: url('images/bg_spTopbtm.png') no-repeat;
        background-position: right bottom;
        background-size: 155px 215px;
        padding: 37px 0 0;
        &__ttl{
            background: url('images/logo.png') no-repeat;
            background-size: 100% auto;
            width: 157px;
            display: inline-block;
            height: 25px;
            font-size: 0;
            line-height: 0;
            margin: 0 0 15px;
        }
        &__txt{
            font-size: 10px;
            line-height: 1.9;
            width: 70%;
        }
    }
    #js-newest{
        padding-top: 8vw;
    }
    .sidebar__bnrs{
        text-decoration: none;
        display: block;
        margin: 25vw 0 11.4vw;
        overflow: hidden;
    }
}

//スライドの変更
.slick-dotted.slick-slider{
    margin-bottom: clamp(10vw, 20vw, 100px);
}